* {
    box-sizing: border-box;
  }
  
  html {
    font-size: 16px; // Base font size
  }
  
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  // More reset styles or basic element styling